<head>
    <style type="text/css">
        body {
            font-size: 12px;
        }

        h1 {
            font-size: 15px;
            text-align: center;
            padding: 0;
        }

        table {
            page-break-inside: avoid;
            margin-top: 0px;
            margin-bottom: 5px;
            width: 100%;
        }

        th {
            font-size: 14px;
            vertical-align: top;
            text-align: center;
            background-color: aliceblue;
        }

        td {
            font-weight: bold;
            padding: 2px;
            border: 0.5px solid #c0c0c0;
        }

        div {
            margin-top: 1px;
            margin-bottom: 5px;
            padding: 0px 5px 0px 5px;
            font-size: 12px;
            font-weight: normal;
            text-indent: 15px;
        }

        span {
            font-size: 12px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h1><%= session.serviceName %> Note <%= session.clientName %> <%= session.dt %></h1>
    <table>
        <tr>
            <th colspan="4"> Qualified Vendor Agency: <%= session.agency + " NPI:" + session.npi %></th>
        </tr>
        <tr>
            <td>Member Name:<br><span><%= session.clientName %></span></td>
            <td>Date of Birth:<br><span><%= session.dob %></span></td>
            <td>Assist ID:<br><span><%= session.clId %></span></td>
            <td>Client Worker:<br><span><%= session.clientWorker %></span></td>
        </tr>
        <tr>
            <td>Date of Service:<br><span><%= session.dt %></span></td>
            <td>Time of Service:<br><span><%= session.timeOfService %></span></td>
            <td>Service:<br><span><%= session.serviceName %></span></td>
            <td>Service Provider:<br><span><%= session.completedBy %> <%= session.completedByCredentials %></span></td>
        </tr>
    </table>
    <% if (session.noShow) { %>
        <div style="font-size:20px">** Client No Show **</div>
    <% } %>
    <% if (session.IsEVV && session.guardianId == 0 && session.designeeId == 0) { %>
        <div style="font-size:20px">** Unverified By Designee **</div>
    <% } %>
    <% if (session.IsEVV && session.designeeUnableToSign) { %>
        <div style="font-size:20px">** Designee Unable To Sign **</div>
    <% } %>
    <% if (session.IsEVV && session.designeeRefusedToSign) { %>
        <div style="font-size:20px">** Designee Refused To Sign **</div>
    <% } %>
    <% if (session.IsEVV && session.clientRefusedService) { %>
        <div style="font-size:20px">** Client Refused Service **</div>
    <% } %>
    <% if (session.IsEVV && session.unsafeToWork) { %>
        <div style="font-size:20px">** Unsafe To Work **</div>
    <% } %>

    <% if (session.supervisorPresent) { %>
        <div style="font-size:20px">** Supervisor Present **</div>
    <% } %>
    <div style="border: 0.5px solid #c0c0c0; padding: 3px;">
        Session Note:
        <div><%= session.note %></div>
    </div>
    <% if (session.careAreas != null && session.careAreas.Count != 0) { %>
        <table>
            <% session.careAreas.forEach(c => { %>
                <tr>
                    <td style="border:0px">
                        <table style="margin-left: 10px; background-color:aliceblue">
                            <tr>
                                <td>
                                    Care Area:<div><%= c.careArea %></div>
                                    Score: <span><%= c.score %></span><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            <% }); %>
        </table>
    <% } %>

    <div class="disclaimer">
        I <b><%= session.completedBy %></b> hereby attest that the medical record entry for (date of service) accurately reflects signatures/notations that I made in my capacity as a <b><%= session.completedByCredentials %></b> I do hereby attest that this information is true, accurate, and complete to the best of my knowledge and that any falsifications, omissions, or concealment of material fact may subject me to administrative, civil, or criminal liability.
    </div>
</body>
